@model Aeonlyfe.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2 class="reviewh2">Review Details</h2>

<div class="revdiv">
    @* added a thumbnail to make it more readable and add some style to it *@
    <hr />
    <div class="thumbnail detailthumb">
        <h4 class="reviewh4">Review</h4>
        <dl class="dl-horizontal dlreview">
            <dt>
                @Html.DisplayNameFor(model => model.Category.Place)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Place)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReviewScore)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReviewScore)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReviewReview)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReviewReview)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReviewTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReviewTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReviewAuthor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReviewAuthor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReviewContent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReviewContent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReviewDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReviewDate)
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }, new { @class = " btn btn-primary", role = "button" }) 
    @Html.ActionLink("Back to List", "Index", null, new { @class = " btn btn-primary", role = "button" })
</p>
