@model IEnumerable<Aeonlyfe.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2 class="reviewh2">Review Index</h2>

<p>
    @* Create button made danger is used for styling purposes  *@
    @Html.ActionLink("Create New", "Create",null ,new { @class = " btn btn-danger", role = "button" })
    
</p>
@* the table has been changed to a bootstrap row and columns, each has a thumbnail so it has a background different from the page background *@
<div class="row">
    @* in the foreach loop I used a thumbnail and warning buttons for style *@
    @* Displays title, Author, which religion its from, date, how many stars, how well liked the post was  *@
    @foreach (var item in Model)
    {
         
        <div class="col-md-4">
            <div class="thumbnail reviewthumb">
                <div class="caption">
                    <h3 class="reviewh3">@Html.DisplayFor(modelItem => item.ReviewTitle) </h3>
                    <p class="reviewp">@Html.DisplayFor(modelItem => item.ReviewAuthor)</p>
                    <p class="reviewp">@Html.DisplayFor(modelItem => item.Category.Place)</p>
                    <p class="reviewp">@Html.DisplayFor(modelItem => item.ReviewDate)</p>
                    <p class="reviewp">@Html.DisplayFor(modelItem => item.ReviewScore) stars</p>
                    <p class="reviewp">Likes: @Html.DisplayFor(modelItem => item.ReviewReview)</p>
                    
                    <div class="btn-group">
                        @Html.ActionLink("Details", "Details", new { id = item.ReviewID }, new { @class = " btn btn-warning", role = "button" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }, new { @class = " btn btn-warning", role = "button" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID }, new { @class = " btn btn-warning", role = "button" })
                     </div>
                    </div>
            </div>
        </div>
    }
</div>

